@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    height: 300vh;
    width: 100vw;
    background-image: url("./asset/back.jpg");
    background-size: auto;
    background-position: center;
    margin: 0;
}

header{
    height: 40%;
    width: 100%;
}

.header{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    padding: 0px;
}




.aboutMe{
    background-color: aliceblue;
    padding-left: 100px;
    height: 45%;
    width: 45%;
    transform: translate(-12%, -10%);
    border-radius: 1px;
    font-size: 125%;
    font-family: "Playfair Display", sans-serif;
    z-index: -1;
}

.double{
    height: 55%;
    width: 30%;
    border-radius: 10px;
    transform: translate(-14%, -10%);
    margin-right: -50px;
}



.links{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 5%;
    padding-right: 15px;
}

.devicon-github-original{
    font-size: 40px;
}

.devicon-linkedin-plain{
    font-size: 40px;
}

a:link{
    text-decoration: none;
}

.content{
    transform: translate(0%, -10%);
    height: 80%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px,1fr));
    padding-left: 10%;
    font-size: 20px;
    gap: 20px;
    }

.big{
    display: flex;
    flex-direction: column;
    height: 525px;
    width: 500px;
    background-color: aliceblue;
    border-radius: 5px;
}

.image{
    height: 300px;
    width: 500px;
}

.container{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.description{
    font-size: 15px;
    padding: 5px;
}

#contact{
   height: 20%;
   width: 100%;
   padding-top: 5%;
   padding-right: 10%;
   padding-left: 10%;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(500px,1fr));
   background-color: gold;
}

.info{
    width: 40%;
}

.phone{
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.address{
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 15px;
}

.single{
    height: 400px;
    width: 500px;
}

.link{
    display: flex;
    gap: 20px;
}

@media (min-width: 768px) and (max-width: 1024px){

    body{
        height: 450vh;
    }

    .double{
        height: 25%;
        width: 35%;
        border-radius: 10px;
        transform: translate(-14%, -120%);
    }

    .aboutMe{
        background-color: aliceblue;
        padding: 5px;
        height: 27%;
        width: 35%;
        transform: translate(-25%, -86%);
        border-radius: 1px;
        font-size: 100%;
        padding-left: 120px;
        font-family: "Playfair Display", sans-serif;
    }
    .content{
        transform: translate(0%, -25%);
        height: 80%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px,1fr));
        padding-left: 10%;
        font-size: 20px;
        gap: 20px;
        }

    #contact{
        height: 20%;
        width: 100%;
        padding-top: 5%;
        padding-left: 5%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
        background-color: gold;
     }
      
     .info{
        width: 80%;
    }
    .single{
        height: 200px;
        width: 300px;
    }    

}

@media (min-width: 0px) and (max-width: 767px){
    body{
        height: 1100vw;
        
     }

     .double{
        height: 20%;
        width: 75%;
        border-radius: 2px;
        transform: translate(40%, -190%);
    }

    .aboutMe{
        background-color: aliceblue;
        padding: 5px;
        height: 27%;
        width: 95%;
        transform: translate(-25%, -51%);
        border-radius: 1px;
        font-size: 80%;
        text-align: center;
        font-family: "Playfair Display", sans-serif;
    }
    
    .content{
        transform: translate(-2%, -25%);
        height: 75%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px,1fr));
        padding-left: 10%;
        font-size: 20px;
        gap: 20px;
        }

    .devicon-github-original{
        font-size: 20px;
    }
    
    .devicon-linkedin-plain{
        font-size: 20px;
    }

    .big{
        display: flex;
        flex-direction: column;
        height: 500px;
        width: 250px;
        background-color: aliceblue;
        border-radius: 5px;
    }

    .image{
        height: 200px;
        width: 250px;
    }
    #contact{
        transform: translate(0%, 0%);
    }
    .single{
        height: 200px;
        width: 280px;
        transform: translate(-7%, -10%);
    } 
    

   
}